
#sdiv1{
    margin-left:5%;
    margin-top: 10px;
    width:1200px;
    height:300px;
    display:grid;
    margin:auto;
    grid-template-columns: 50% 50%;
    /* border:1px solid red; */
    margin-bottom:5%;
}
#sd2>img{
    width:100%;
    height:100%;
}
#sd1>div{
    margin-top:0%;
   text-align: center;
    height:100%;
    background-color:rgb(100, 100, 143);
}
/* div2 nav bar */
.navbar{
    margin-left:5%;
    display:grid;
    grid-template-columns: auto auto auto;
    padding:2%; 
    background-color: rgb(221, 215, 215);   
}
#sdiv3{
    margin-left:5%;
    grid-template-columns: repeat(4,auto);
    background-color: rgb(235, 231, 231);
}
#sortDrop{
    border:1px solid black;
    display:none;
    color:rgb(70, 67, 67);
}

/* sidebar */
#slastDiv{
    display:grid;
    width:90%;
    grid-template-columns: 220PX 900PX;
    column-gap:5%;
    margin:auto;
    padding:2%;
    /* border:1px solid purple; */
}
#sidebar{
   margin-top:0%;
   position:sticky;
   top:25%;
}
.sideCat{
    border:1px solid rgb(212, 211, 211);
    margin:1%;
    width:100%;
    /* border:1px solid hotpink; */
}
.Title{
    display: inline-block;

}.plus_min{
    width:30px;
    text-align: end;
    display: inline-block;
}
.titleDrop{
    display:none;
    width:20px;
    height:50px;
    margin-left:5%;
}

#sproductDiv{
    height:fit-content;
    display:flex;
    /* border:1px solid rgb(212, 211, 211); */
     flex-wrap: wrap;
     gap:1%;
    padding-bottom:40%;
    margin-bottom:5%;
    line-height: 0%;
}
.p-append-div{
    width:200px;
    display:flex;
    flex-direction:column;
    height:330px;
    line-height:-10px;
    padding:1px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* border:1px solid rgb(184, 17, 17); */
    margin:2px 2px 3px 2px;
}
#sproductDiv>button{
    color: rgb(54, 3, 5);
}
#sort{
    cursor:pointer;
}
@media screen and (min-width:0px) and (max-width:960px){
     #sdiv1{
         display:block;
     }
     #slastDiv{
         display:block;
     }
#sidebar{
    z-index:-1;
}
     #sproductDiv{
         /* display:block; */
         margin-left:30%;
         z-index:1;
     }
}
