*body{
    width:98%;
    cursor:default;
    margin:auto;
}
.product1-main{
 /* height:200px; */
 width:90%;
 height:550px;
 /* margin:auto; */
 margin:auto;
 margin-top:10px;
 /* position:absolute; */
}

#p2-main{
    display:grid;
    width:90%;
    grid-template-columns: repeat(2,45%);
    margin-left:10%;
    /* border:1px solid red; */
}
.product2-main{
 /* height:200px; */
 /* width:50%; */
 height:550px;
 /* margin:auto; */
 margin-top:10px;
 /* position:absolute; */
}
.div6{
    width:80%;
    margin:auto;
}
.bottom2{
    margin-left:5%;
    margin-top:75%;
    
}
#p-img-div-right{
    border:1px sold red;
    vertical-align: top;
}
.bottom3{
    margin-left:25%;
    margin-top:75%;
    
}

.bottom{
 /* position:relative; */
 margin-top:30%;
 margin-left:5%;

}
.data{
/* border:1px solid blue; */
 width:fit-content;
 height:fit-content;
 padding:0% 2%;
 background-color: white;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home-product-cat{
font-size: 18px;
font-weight: 30;
font-family:sans-serif;
color:rgb(90, 87, 87);
/* font-weight: lighter; */
}
.shopNow{
 font-weight:lighter ;
 text-decoration: underline;
 font-family:sans-serif;
}
.bel-image1{
   /* border:1px solid red; */
   margin:auto;
   width:100%;
   text-align:center;
   line-height: 5px;
   margin-top:2%;
   display:none;
   /* margin-left:35% */
}
.bel-image2,.bel-image3,.bel-image4{
    display:none;
}




/* div 2 */
.products-div2{
/* border:1px solid red; */
width:100%;
margin-top:5%;
height: fit-content;

}
.p-div-2{
/* width:93%; */
width:fit-content;
 height:60%;
 text-align: center;
 margin:auto;
 /* margin-left:% */
}
.p-img-div{
border:1px sold rgb(0, 255, 255);
     width:40%;
     height:100%;
     display:inline-block;
}

.p-designer-div{
/* text-align:center; */
     /* border:1px solid blue; */
     width:200px;
     /* padding:5px; */
     /* margin-right:10%; */
     background-color: white;
     /* position:relative */
}

.p-designer{
/* border:1px solid green; */
     height:200px;
     text-align: center;
     background-color: white;
     margin:-30px -15px
}



.div-img{
width:100%
}
.div-data{
text-align:center;
}
.p-div-mid{
/* border: 1px solid red; */
width:30%;
}


/* div-4 */
.div-4{
           width:25%;
           margin-top:5%;
       }

/* middle parts */

.afterDiv-div{
/* border:1px solid green; */
width:fit-content;
/* padding:5%; */
margin:auto;
padding-top:0px;
text-align: center;
}
.after-div-title{
font-family: sans-serif;
font-weight:50;
color:rgb(133, 130, 130);
}

/* div-3 */
/* .p-append-div{
 background-color:white;
 height:90%;
padding-left:2%;
padding-right:5%;
display:flex;
border: 1px solid rgb(5, 5, 5);

} */

.arrowIcons{
width:3%;
height:30%;
display:inline-block;
margin-top:20%;
vertical-align: top;    
/* border:1px solid blue; */
font-size: 35px;
}
.product-div-3{
    width:90%;
    height:fit-content;
    margin-top:25px;
    margin:auto;
    margin-bottom:5%;
    /* border:1px solid red; */
    }

.p-div-3{
width:85%;
 height:100%;
 display:inline-block;
 margin:auto;
 padding:5%;
 padding-left:2%;
 text-align: center;
 /* background-color:white; */
 /* border:1px solid rgb(0, 255, 98); */
}


.prod-dis-flex{
    display:flex;
    gap:3%;
    justify-content:center;
    flex-wrap: wrap;
}
.d7-f{
    margin:auto 7%;
}


@media screen and (min-width:0px) and (max-width:960px){
         .bel-image1,.bel-image2,.bel-image3,.bel-image4{
            /* border:1px solid red; */
            margin-bottom:3%;
             display:block;
             text-align: center;

         }

        
         #p2-main{
            margin:auto;
            margin-bottom:3%;
             display:block;
         }
        
         .on-image1{
             display:none;
         }

        .div-img{
            /* border:1px solid red; */
            width:80%;
            max-height:350px;
        }
         .catPage{
            width:100%;
            height:350px
         }
         #product-div2{
             display:block;
         }
         /* .products-div2{
             width:1100px;
         } */
       .p-designer-div{
           display:none;
       } 
       /* .p-div-2{
           margin:0%;
           width:100%;
       } */
       .p-img-div{
           width:100%;
       }
       #p-img-div-right{
           margin-left:0%;
       }
       /* .div-4{
           width:1100px;
       } */
       .arrowIcons{
           display:none;
       }
       .product-div-3{
           width:100%;
           padding:0%;
           margin:0%;
       }


       
       

}